@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}

.container {
    max-width: 1440px;
    width: 75%;
    margin: auto;
    padding-top: 35px;
}

header {
    background: rgba(229, 84, 115, 0.10);

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first-header {
    max-width: 530px;
}

.center {
    text-align: center;
}

.first-header * {
    margin-bottom: 32px;
}

.header-title {
    color: #272727;
    font-size: 60px;
    font-weight: 800;
}

p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 13.5px;
    max-width: 475px;
    font-weight: 400;
    line-height: 22.5px;
}

.blue {
    background: rgba(167, 33, 98, 0.15);
}

.grey {
    background: rgba(5, 151, 160, 0.15);
}

.green {
    background: rgba(71, 125, 17, 0.15);
}

.btn-primary {
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

.header .second-header img {
    width: 100%;
    vertical-align: middle;
}

.second-section {
    padding: 100px 0;
}

/* Second Section  */
.second-section * {
    text-align: center;
    margin: 18px auto;
}

.flower-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: end;

}

.flower .flower-img {
    border-radius: 300px 300px 0px 0px;
    padding: 30px 50px 0;
    height: 500px;
    display: flex;
    align-items: end;
}

.flower .flower-img img {
    width: 100%;
}

.flower p {
    text-align: center;
    color: #272727;
    font-size: 18px;
    font-weight: 700;
    text-decoration: underline;
    margin-top: 20px;
}